body{
    background-color: slategrey;
}
.rounded-circle {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Untuk memastikan gambar tetap proporsional */
    border-radius: 50%; /* Untuk membuat gambar menjadi lingkaran */
}